<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
    <title>@ViewBag.Title</title>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
   
</head>
<body>
    <table class="table1">
        <tr>
            <td>
                <div id="hat">
                    <ul>
                        <li><form action="/SHome/Index" method="post">                                
                                <input type="submit" name="submit" value="Stesnyashki" class="link">
                            </form>
                        </li>
                        <li><form action="/SWall/GoToUserWall/@Session["id"]" method="get">
                            <input type="submit" name="submit" value="My Wall" class="link">
                        </form>
                        </li>
                        <li>
                            <form action="/SFriends/AllUserFriends" method="post">
                                <input type="submit" name="submit" value="My Followers" class="link">
                            </form>
                        </li>
                        <li>
                            <form action="/SUser/AddtoPersonalform" method="post">
                                <input type="submit" name="submit" value="My Profile" class="link">
                            </form>
                        </li>
                        <li>
                            <form action="/SQuestionList/QuestionList" method="post">
                                <input type="submit" name="submit" value="My Questionlist" class="link">
                            </form>
                        </li>
                        <li>
                            <form action="/Search/Search" method="post" id="search">
                                <input type="text" name="name" value="" placeholder="Enter name..." onblur="if(this.value=='') this.value='Search';" onfocus="if(this.value=='Search') this.value='';" class="input" />
                                <input type="submit" value="" class="submit" />
                            </form>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="box">
                    @RenderBody()
                </div>
            </td>
        </tr>
    </table>
</body>
</html>