@{
    ViewBag.Title = "SQuestion";
}

<h2>SQuestion</h2>
<div class="divcenter">

    @for (int j = 0; j < ViewBag.Question.Count; j++)
    {
        <div class="divcenter">
            <h1>Sender:@ViewBag.User[j]</h1>            
            @ViewBag.Question[j].qText
        </div>
    }
</div>