body {
	
scrollbar-face-color: #000000;
scrollbar-highlight-color: #000000;
scrollbar-shadow-color: #000000;
scrollbar-3dlight-color: #000000;
scrollbar-arrow-color: #000000;
scrollbar-track-color: #000000;
scrollbar-darkshadow-color: #000000;
    margin: 0 auto; 
	background: url(background.jpg) no-repeat #01729E;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight:300;
	text-align: left;
	text-decoration: none;
}
#hat {width:100%; height:10%;  margin-top: 0px; margin:0 auto;}
#hat ul li {float:left; width:16%; text-align:center;margin-top: 20px;height:60px;color:white; opacity: 0.9;}
#hat ul li .hatButt{color:white; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: underline; cursor: pointer; font-weight: 300; background: none;	font-size: 18px;}
#hat ul li .hatButt:hover { font-size: 27px;}
#hat ul {list-style:none;}

.g-button {
border:1px solid;
font-size: 12px;
padding: 5px 10px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
border-color:rgba(25,255,25,.75);
box-shadow:0 0 8px rgba(25,255,25,.5);
-moz-box-shadow:0 0 8px rgba(25,255,25,.5);
-webkit-box-shadow:0 0 8px rgba(25,255,25,.5);
transition:border linear .2s,box-shadow linear .2s;
-moz-transition:border linear .2s,-moz-box-shadow linear .2s;
-webkit-transition:border linear .2s,-webkit-box-shadow linear;

}
.askinput {
width:80%;
height:5%;
}
.g-button:focus{ 
outline:none;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
border-color:rgba(25,25,255,.75);
box-shadow:0 0 8px rgba(25,25,255,.5);
-moz-box-shadow:0 0 8px rgba(25,25,255,.5);
-webkit-box-shadow:0 0 8px rgba(25,25,255,.5);
}

#friends{	
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-weight: 300; 
 background: none;	
 font-size: 32px;
 margin: 0px 20px;
}

#friendstable{
overflow: auto;
height: 94%;
}

.friend h6 {

text-decoration: none;
 font-size: 20px;
}

.friend img 
{
 
padding: 20px 20px;
 cursor: pointer; 
	width: 150px;
	height: 150px;
}

.friend:hover
{
	background: url(opp.png);
}

.friend img:hover
{
	width: 180px;
	height: 180px;
 margin: -15px -15px;
}

.box{
width:90%;
height: 89%;
background:url(bg.png);
 border-radius:15px 15px 15px 15px;
 margin-top:5%;
   margin:0 auto;
}
.regdiv{
	 font-family: 'Bree Serif', serif;
	 line-height: 5.5;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.65);
     border-radius:25px;
	 background-attachment: fixed;
     height:70%;
     width:30%;
     background-size:contain;
     margin: 0 auto;
     
}
.divcentre {
    
    margin:0 auto;
}
.buttonsavepersonalinfo {
     margin:0 auto;
    text-align:center;
}
.regbutton {
    background-color:#0eb70d;
    border-radius:5px;
    outline:0px;
    width:50%;
	margin: 0 auto;
    height:15%;
}
.regbutton:hover {
        padding:2px;
        border:2px;
        border-color:#1c9804;
    }
	
.regbutton {
	position:relative;
	
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 28px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.regbutton:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.regbutton:focus {
	position: relative;
	bottom: -1px;
	
	background: #56c2e1;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}
.table1{
    margin-left:2%;
	background-attachment: fixed;
     border-radius:5px;
     height:100%;
     width:100%;
     background-size:contain;
}
.icovk{
    background-image:url(../images/vk.png);
    width:60px;
    height:60px;
     outline: 0;
     border-radius:10px;
     background-position:center;
}
.icofb{
     background-image:url(../images/fb.png);
    width:60px;
    height:60px;
     outline: 0;
     border-radius:10px;
     background-position:center;
}
.icotw{
     background-image:url(../images/tw.png);
    width:60px;
    height:60px;
     outline: 0;
     border-radius:10px;
     background-position:center;
}
.icoms{
     background-image:url(../images/ms.png);
    width:60px;
    height:60px;
     outline: 0;
     border-radius:10px;
     background-position:center;
}
.tdatt {
    width:64px;
    height:64px;
}
.image
{
 width:300px;
    height:300px;
	 background-image:url(../1/1.jpg);
    width:100%;
    height:100%;
     outline: 0;
     border-radius:10px;
     background-position:center;
}

::selection {
	color: #fff;
	background: #f676b2; /* Safari */
}
::-moz-selection {
	color: #fff;
	background: #f676b2; /* Firefox */
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

#wrapper {
	/* Center wrapper perfectly */
	width: 300px;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -200px;
}

/*
.gradient {
	width: 600px;
	height: 600px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -300px;
	
	background: url(../images/gradient.png) no-repeat;
}
*/

.gradient {
	/* Center Positioning */
	width: 600px;
	height: 600px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -300px;
	
	/* Fallback */ 
	background-image: url(gradient.png); 
	background-repeat: no-repeat; 
	
	/* CSS3 Gradient */
	background-image: -webkit-gradient(radial, 0% 0%, 0% 100%, from(rgba(213,246,255,1)), to(rgba(213,246,255,0)));
	background-image: -webkit-radial-gradient(50% 50%, 40% 40%, rgba(213,246,255,1), rgba(213,246,255,0));
	background-image: -moz-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
	background-image: -ms-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
	background-image: -o-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
}

/*******************
LOGIN FORM
*******************/

.login-form {
	width: 300px;
	margin: 0 auto;
	position: relative;
	z-index:5;
	
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/*******************
HEADER
*******************/

.login-form .header {
	padding: 40px 30px 30px 30px;
}

.login-form  h1 {
	font-family: 'Times New Roman', serif;
	font-weight: 300;
	font-size: 28px;
	line-height:34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}



.login-form .header span {
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*******************
CONTENT
*******************/

.login-form .content {
	padding: 0 30px 25px 30px;
}

/* Input field */
.login-form .content .input {
	width: 188px;
	padding: 15px 25px;
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

/* Second input field */
.login-form .content .password, .login-form .content .pass-icon {
	margin-top: 25px;
}

.login-form .content .input:hover {
	background: #dfe9ec;
	color: #414848;
}

.login-form .content .input:focus {
	background: #dfe9ec;
	color: #414848;
	
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.user-icon, .pass-icon, .vk-icon, .fb-icon, .tw-icon, .go-icon {
	width: 46px;
	height: 47px;
	display: block;
	position: absolute;
	left: 0px;
	padding-right: 2px;
	z-index: 3;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.user-icon {
	top:147px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
	background: rgba(65,72,72,0.75) url(images/user-icon.png) no-repeat center;	
}

.fb-icon{
	top:197px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
	background: rgba(65,72,72,0.75) url(images/fb-icon.png) no-repeat center;	
	cursor: pointer;
}

.tw-icon{
	top:247px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
	background: rgba(65,72,72,0.75) url(images/tw-icon.png) no-repeat center;	
	cursor: pointer;
}

.go-icon{
	top:297px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
	background: rgba(65,72,72,0.75) url(images/go-icon.png) no-repeat center;	
	cursor: pointer;
}

.vk-icon {
	top:347px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
	background: rgba(65,72,72,0.75) url(images/vk-icon.png) no-repeat center;	
	cursor: pointer;
}

.pass-icon {
	top:221px;
	background: rgba(65,72,72,0.75) url(images/pass-icon.png) no-repeat center;
}

.pass-icon {
	top:221px;
	background: rgba(65,72,72,0.75) url(images/pass-icon.png) no-repeat center;
}

/* Animation */
.input, .user-icon, .pass-icon, .button, .register, .vk-icon, .fb-icon, .tw-icon, .go-icon {
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	outline:none;
}

/*******************
FOOTER
*******************/

.login-form .footer {
	padding: 25px 30px 40px 30px;
	overflow: auto;
	
	background: #d4dedf;
	border-top: 1px solid #fff;
	
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Login button */
.login-form .footer .button {
	float:right;
	padding: 11px 25px;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.login-form .footer .button:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.login-form .footer .button:focus {
	position: relative;
	bottom: -1px;
	
	background: #56c2e1;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/* Register button */
.login-form .footer .register {
	display: block;
	float: right;
	padding: 10px 5px 10px 0;
	margin-right: 5%;
	
	background: none;
	border: none;
	cursor: pointer;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}

.login-form .footer .register:hover {
	color: #3f9db8;
}

.login-form .footer .register:focus {
	position: relative;
	bottom: -1px;
}
/*Choose avatar button start*/
        #File1
        {
            /*position: absolute;*/
        }
        .customFile
        {
            width: 219px;
            margin-left: -140px;
            cursor: default;
            height: 21px;
            z-index: 2;
            filter: alpha(opacity: 0);
            opacity: 0;
        }
        .fakeButton
        {
            position: absolute;
            z-index: 1;
            width: 85px;
            height: 21px;
            background: url(/Content/images_ch/button.jpg) no-repeat left top;
            float: left;
        }
       
        .blocker
        {
            position: absolute;
            z-index: 3;
            width: 150px;
            height: 21px;
            background: url(/Content/images_ch/transparent.gif);
            margin-left: -155px;
        }
        #FileName
        {
            position: absolute;
            height: 15px;
            margin-left: 90px;
            font-family: Verdana;
            font-size: 8pt;
            color: Gray;
            margin-top: 2px;
            padding-top: 1px;
            padding-left: 19px;
        }
        #activeBrowseButton
        {
            background: url(/Content/images_ch/button_active.jpg) no-repeat left top;
            display: none;
        }
        /*Choose avatar button finish*/

        .UploadButton {
display: inline-block;
font-weight: bold;
color: #fff;
text-decoration: none;
text-shadow: 0 -1px rgba(0,0,0,.5);
user-select: none;
padding: .7em 1.5em;
border: 1px solid rgb(80,32,0);
border-radius: 5px;
outline: none;
background: rgb(147,80,36) linear-gradient(rgb(106,58,26), rgb(147,80,36) 80%);
box-shadow:
0 6px rgb(86,38,6),
0 3px 15px rgba(0,0,0,.4),
inset 0 1px rgba(255,255,255,.3),
inset 0 0 3px rgba(255,255,255,.5);
transition: .2s;
} 
.UploadButton:hover {
background: rgb(167,91,41) linear-gradient(rgb(126,69,31), rgb(167,91,41) 80%);
}
.UploadButton:active {
background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
box-shadow:
0 2px rgb(86,38,6),
0 1px 6px rgba(0,0,0,.4),
inset 0 1px rgba(255,255,255,.3),
inset 0 0 3px rgba(255,255,255,.5);
-webkit-transform: translate(0, 4px);
transform: translate(0, 4px);
}

/*Close button*/
.centererer {
position: absolute;
height: 26px;
width: 26px;

margin-top:-80px;
margin-left:54%;
}
table.fixed {
 width:100%;
     table-layout: fixed;
}
.crossbutton {
    margin:0 auto; /* DIV по центру */ 
background:url(cross.png); /* IMG - фон */ 
width:60%; /* ширина DIV в процентах, подобранная по исходной ширине IMG */ 
height:20px; /* исходная высота IMG */ 
background-size:100% auto; /* размер фона */ 
background-repeat:no-repeat; /* запрет на повторение фона */ 
cursor:pointer;
}

input.link {
  /* Первые два свойства нужны чтобы убрать отступы в IE */
  overflow: visible;
  width: auto;
 
  /* Убираем отступы */
  margin: 0;
  padding: 0;
 
  /* Убираем все элементы оформления кнопки */
  background: none;
  border: none;
 
  /* Обычный для ссылок курсор */
  cursor: pointer;
  font-size:xx-large;
  color:#071a8e;
}
 
/* Ссылка обычно подчеркнута */
input.link span {
  color: #00f;
  text-decoration: underline;
}
    input.link:hover {
        color:#56c2e1;
        border: 0;
outline: 0;
    }

    /*Search button*/
    #search {  
  /* устанавливаем ширину формы, 
  ** равную ширине поля ввода (183 + 37 + 15) */  
  width: 235px;  
  height: 29px;  
}  
  
/* делаем инпуты плавающими, чтобы убрать лишние отступы, 
** и отключаем бордюры */  
#search input {  
  float: left;  
  border: none;  
}  
  
/* стили для поля ввода */  
#search .input {  
  width: 183px;  
  height: 28px;  
  /* внутренний отступ справа (37px) делаем больше левого, 
  ** т.к. там будет размещена кнопка отправки */  
  padding: 0 37px 1px 15px;  
  background: #EEE url(https://lh4.googleusercontent.com/-EllJnywnmlY/UAaKJYSYYMI/AAAAAAAABUU/IaRo-yUcRmc/s235/search.png) no-repeat;  
  color: #555;  
  font: 13px/28px Tahoma, Arial, sans-serif;  
  outline: none;  
}  
  
/* приходится использовать хак для FireFox 
** для вертикального выравнивания текста, 
** т.к. у него свои особые представления об этом */  
@-moz-document url-prefix() {  
  #search .input {  
    height: 27px;  
    padding-bottom: 2px;  
  }  
}  
  

  
/* оформляем кнопку отправки */  
#search .submit {  
  width: 37px;  
  height: 29px;  
  cursor: pointer;  
  
  /* смещаем кнопку влево на собственную ширину, 
  ** чтобы она оказалась над полем ввода */  
  margin-left: -37px;  
  background:none;
  /* по-нормальному, здесь достаточно было бы указать background: none; 
  ** но приходится указывать фон из-за бага в IE */  
  /*background: url(dontexist.png);  */
}  
/*Search form*/
.divcentre1
{
margin-left: 120%;
    text-align:center;
    height:50%;
}
.box1{
width:90%;
height: 89%;
background:url(../images/background.jpg);
 border-radius:15px 15px 15px 15px;
 margin-top:250px;
  margin: 0 auto;
}
.searchbutton {
margin-left:30%;
padding:10px 0px;
}