@{
    ViewBag.Title = "Stesnyashki";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<div id="wrapper">
    <div class="user-icon"></div>
    <div class="pass-icon"></div>
    <input type="button" onclick="location.href='#'" class="vk-icon">
    <input type="button" onclick="location.href='#'" class="fb-icon">
    <input type="button" onclick="location.href='#'" class="tw-icon">
    <input type="button" onclick="location.href='#'" class="go-icon">
    <form name="login-form" class="login-form" action="/SUser/Login" method="post">

        <div class="header">
            <h1>Authorisation</h1>
            <span>Enter your registration data to log in and take access to dashboard. </span>
        </div>
        <span>@ViewBag.password</span>
        <div class="content">
            <input name="email" type="email" class="input username" value="login" onfocus="this.value=''" required/>
            <input name="password" type="password" class="input password" value="password" onfocus="this.value=''" required />



        </div>

        <div class="footer">
            <input type="submit" name="submit" value="LOG IN " class="button" />
            @*<input type="button" onclick="location.href='register.htm'" value="Sign up" class="register" />*@
        </div>

    </form>   
</div>
<div class="gradient"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".username").focus(function () {
            $(".user-icon").css("left", "-48px");
            $(".fb-icon").css("left", "-48px");
            $(".tw-icon").css("left", "-48px");
            $(".go-icon").css("left", "-48px");
            $(".vk-icon").css("left", "-48px");
        });

        $(".password").focus(function () {
            $(".pass-icon").css("left", "-48px");
            $(".user-icon").css("left", "0px");
            $(".fb-icon").css("left", "0px");
            $(".tw-icon").css("left", "0px");
            $(".go-icon").css("left", "0px");
            $(".vk-icon").css("left", "0px");
        });
        $(".password").blur(function () {
            $(".pass-icon").css("left", "0px");
        });
    });
</script>
