@{
    ViewBag.Title = "Stesnyashki";

}


<head>
    <title>Stesnyashki</title>
    <link rel="stylesheet" type="text/css" href="~/Content/HomeStyle.css">
</head>
<body class="backbody">
    <div>
        <table class="table1">
            <tr>
                <td class="td1" rowspan="2">
                    <div class="ribbon"><div class="ribbon-stitches-top"></div><strong class="ribbon-content"><h1>Stesnyaski</h1></strong><div class="ribbon-stitches-bottom"></div></div>
                </td>
                <td class="td2">
                    <div id="leftal">
                        <form action="/SUser/Login" method="post">
                            <span><input class="textboxst" type="text" name="email" value="email"></span>
                            <span><input class="textboxst" type="password" name="password" value="password"></span>
                            <span><input class="loginbutton" type="submit" name="login" value="Log in"></span><br/>
                        </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="leftal" class="check">
                        <span><input id="leftal" type="checkbox" name="remembercheckbox" value="remember"><a>Remember</a></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <div class="regdiv">
            <form action="/SUser/Register" method="post">
                <table>
                    <tr>
                        <td>
                            <h2>Don't have an account?</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Name</p>
                        </td>
                        <td>
                            <input type="text" name="name" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>E-mail</p>
                        </td>
                        <td>
                            <input type="text" name="email" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Password</p>
                        </td>
                        <td>
                            <input type="password" name="password" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Confirm password</p>
                        </td>
                        <td>
                            <input type="password" name="confirm" />
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <p>Attach:</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdatt">
                            <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>

                            <div id="login_button" onclick="VK.Auth.login(authInfo);"></div>

                            <script language="javascript">
                                VK.init({
                                    apiId: 4649158
                                });
                                function authInfo(response) {
                                    //if (response.session) {
                                    //    alert('user: ' + response.session.mid);
                                    //} else {
                                    //    alert('not auth');
                                    //}
                                }
                                VK.Auth.getLoginStatus(authInfo);
                                VK.UI.button('login_button');
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdatt">
                            <script src="//ulogin.ru/js/ulogin.js"></script>
                            <div id="uLogin" data-ulogin="display=panel;fields=first_name,last_name;providers=vkontakte,facebook,twitter,google;hidden=;redirect_uri=http%3A%2F%2F"></div>
                        </td>
                    </tr>
                </table>
                <div class="divcenter">
                    <input class="regbutton" type="submit" name="registration" value="Registration" />
                </div>
            </form>
        </div>
    </div>
    <form action="/SQuestionList/QuestionList" method="post">        
        <span><input class="loginbutton" type="submit" name="login" value="Log in"></span><br />
    </form>
</body>
